<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('layout/head.ejs') %>
  <body class="bg-body-tertiary">
    <!-- header -->
    <%- include('layout/header.ejs') %>
    <!-- nav -->
    <%- include('layout/nav.ejs') %>
    <!-- slider -->
    <%- include('layout/slider.ejs') %>
    <main class="py-2">
      <div class="container-fluid">
        <div class="laptop pb-2 shadow mb-4">
          <div class="title-product mb-3 text-uppercase">Laptop</div>
          <div class="container-fluid">
            <div class="row px-2">
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <a href="#">
                    <img
                      class="img-fluid"
                      src="https://m.media-amazon.com/images/I/71-R0cG4+gL._AC_UY327_FMwebp_QL65_.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <a
                    href="#"
                    class="link-primary fw-bold text-black text-decoration-none"
                    >MSI Prestige 16 AI Evo Laptop</a
                  >
                  <div class="text-danger fw-bold">$1,639.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <a href="#">
                    <img
                      class="img-fluid"
                      src="https://m.media-amazon.com/images/I/71-R0cG4+gL._AC_UY327_FMwebp_QL65_.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <a
                    href="#"
                    class="link-primary fw-bold text-black text-decoration-none"
                    >MSI Prestige 16 AI Evo Laptop</a
                  >
                  <div class="text-danger fw-bold">$1,639.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <a href="#">
                    <img
                      class="img-fluid"
                      src="https://m.media-amazon.com/images/I/71-R0cG4+gL._AC_UY327_FMwebp_QL65_.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <a
                    href="#"
                    class="link-primary fw-bold text-black text-decoration-none"
                    >MSI Prestige 16 AI Evo Laptop</a
                  >
                  <div class="text-danger fw-bold">$1,639.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <a href="#">
                    <img
                      class="img-fluid"
                      src="https://m.media-amazon.com/images/I/71-R0cG4+gL._AC_UY327_FMwebp_QL65_.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <a
                    href="#"
                    class="link-primary fw-bold text-black text-decoration-none"
                    >MSI Prestige 16 AI Evo Laptop</a
                  >
                  <div class="text-danger fw-bold">$1,639.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-end me-3 my-1">
            <a href="#" class="text-decoration-none fs-6"
              >&#8249;&#8249; See more &#8250;&#8250;</a
            >
          </div>
        </div>
        <div class="phone pb-2 shadow mb-4">
          <div class="title-product mb-3 text-uppercase">Smartphone</div>
          <div class="container-fluid">
            <div class="row px-2">
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <a href="#">
                    <img
                      class="img-fluid"
                      src="https://m.media-amazon.com/images/I/51rK-Be8dxL._AC_UY327_FMwebp_QL65_.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <a class="fw-bold text-decoration-none text-black  link-primary" href="#">
                    Samsung Galaxy A15
                  </a>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <a href="#">
                    <img
                      class="img-fluid"
                      src="https://m.media-amazon.com/images/I/51rK-Be8dxL._AC_UY327_FMwebp_QL65_.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <a class="fw-bold text-decoration-none text-black  link-primary" href="#">
                    Samsung Galaxy A15
                  </a>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <a href="#">
                    <img
                      class="img-fluid"
                      src="https://m.media-amazon.com/images/I/51rK-Be8dxL._AC_UY327_FMwebp_QL65_.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <a class="fw-bold text-decoration-none text-black  link-primary" href="#">
                    Samsung Galaxy A15
                  </a>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <a href="#">
                    <img
                      class="img-fluid"
                      src="https://m.media-amazon.com/images/I/51rK-Be8dxL._AC_UY327_FMwebp_QL65_.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <a class="fw-bold text-decoration-none text-black  link-primary" href="#">
                    Samsung Galaxy A15
                  </a>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-end me-3 my-1">
            <a href="#" class="text-decoration-none fs-6"
              >&#8249;&#8249; See more &#8250;&#8250;</a
            >
          </div>
        </div>
        <div class="tablets pb-2 shadow mb-4">
          <div class="title-product mb-3 text-uppercase">tablets</div>
          <div class="container-fluid">
            <div class="row px-2">
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <a href="#">
                    <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/61d46oYQgdL._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                  </a>
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <a class="fw-bold text-black link-primary text-decoration-none" href="#">
                    SAMSUNG Galaxy Tab A9+ Tablet 11
                  </a>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <a href="#">
                    <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/61d46oYQgdL._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                  </a>
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <a class="fw-bold text-black link-primary text-decoration-none" href="#">
                    SAMSUNG Galaxy Tab A9+ Tablet 11
                  </a>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <a href="#">
                    <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/61d46oYQgdL._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                  </a>
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <a class="fw-bold text-black link-primary text-decoration-none" href="#">
                    SAMSUNG Galaxy Tab A9+ Tablet 11
                  </a>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <a href="#">
                    <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/61d46oYQgdL._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                  </a>
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <a class="fw-bold text-black link-primary text-decoration-none" href="#">
                    SAMSUNG Galaxy Tab A9+ Tablet 11
                  </a>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-end me-3 my-1">
            <a href="#" class="text-decoration-none fs-6"
              >&#8249;&#8249; See more &#8250;&#8250;</a
            >
          </div>
        </div>
        <div class="mouse pb-2 shadow mb-4">
          <div class="title-product mb-3 text-uppercase">mouse</div>
          <div class="container-fluid">
            <div class="row px-2">
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <a href="#">
                    <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/61xgpXecLML._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                  </a>
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <a class="fw-bold text-decoration-none text-black link-primary" href="#">
                    Logitech M510 Wireless
                  </a>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <a href="#">
                    <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/61xgpXecLML._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                  </a>
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <a class="fw-bold text-decoration-none text-black link-primary" href="#">
                    Logitech M510 Wireless
                  </a>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <a href="#">
                    <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/61xgpXecLML._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                  </a>
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <a class="fw-bold text-decoration-none text-black link-primary" href="#">
                    Logitech M510 Wireless
                  </a>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <a href="#">
                    <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/61xgpXecLML._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                  </a>
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <a class="fw-bold text-decoration-none text-black link-primary" href="#">
                    Logitech M510 Wireless
                  </a>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-end me-3 my-1">
            <a href="#" class="text-decoration-none fs-6"
              >&#8249;&#8249; See more &#8250;&#8250;</a
            >
          </div>
        </div>
        <div class="headphones pb-2 shadow mb-4">
          <div class="title-product mb-3 text-uppercase">headphones</div>
          <div class="container-fluid">
            <div class="row px-2">
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/41JACWT-wWL._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <div class="fw-bold">
                    Sony WH-CH520 Wireless Headphones
                  </div>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/41JACWT-wWL._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <div class="fw-bold">
                    Sony WH-CH520 Wireless Headphones
                  </div>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/41JACWT-wWL._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <div class="fw-bold">
                    Sony WH-CH520 Wireless Headphones
                  </div>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/41JACWT-wWL._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <div class="fw-bold">
                    Sony WH-CH520 Wireless Headphones
                  </div>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-end me-3 my-1">
            <a href="#" class="text-decoration-none fs-6"
              >&#8249;&#8249; See more &#8250;&#8250;</a
            >
          </div>
        </div>
        <div class="keyboard pb-2 shadow mb-4">
          <div class="title-product mb-3 text-uppercase">keyboard</div>
          <div class="container-fluid">
            <div class="row px-2">
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/51R90b-WV1L._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <div class="fw-bold">
                    Logitech G G815 RGB
                  </div>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/51R90b-WV1L._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <div class="fw-bold">
                    Logitech G G815 RGB
                  </div>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/51R90b-WV1L._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <div class="fw-bold">
                    Logitech G G815 RGB
                  </div>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/51R90b-WV1L._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <div class="fw-bold">
                    Logitech G G815 RGB
                  </div>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-end me-3 my-1">
            <a href="#" class="text-decoration-none fs-6"
              >&#8249;&#8249; See more &#8250;&#8250;</a
            >
          </div>
        </div>

        <div class="smart-watches pb-2 shadow mb-4">
          <div class="title-product mb-3 text-uppercase">smart watches</div>
          <div class="container-fluid">
            <div class="row px-2">
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/61wjDV8p6PL._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <div class="fw-bold">
                    Apple Watch SE
                  </div>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/61wjDV8p6PL._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <div class="fw-bold">
                    Apple Watch SE
                  </div>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/61wjDV8p6PL._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <div class="fw-bold">
                    Apple Watch SE
                  </div>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
              <div class="item col-3 text-center">
                <div class="px-2 py-3 bg-white rounded-top">
                  <img
                    class="img-fluid"
                    src="https://m.media-amazon.com/images/I/61wjDV8p6PL._AC_UY327_FMwebp_QL65_.jpg"
                    alt=""
                  />
                </div>
                <div class="bg-white rounded-bottom py-2">
                  <div class="fw-bold">
                    Apple Watch SE
                  </div>
                  <div class="text-danger fw-bold">$199.99</div>
                  <div class="review">
                    <span class="rate">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div
                    class="fs-12 text-secondary m-2 text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis;"
                  >
                    <span
                      class="bg-warning-subtle text-warning p-1 rounded fw-bold"
                      >Promote</span
                    >
                    Free charging cable, mouse and backpack
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-end me-3 my-1">
            <a href="#" class="text-decoration-none fs-6"
              >&#8249;&#8249; See more &#8250;&#8250;</a
            >
          </div>
        </div>
      </div>
    </main>
    <!-- footer -->
    <%- include('layout/footer.ejs') %>
  </body>
</html>
